.root {
  display: flex;
  column-gap: 10px;
  .item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fe5f1e;
    border: 1px solid #fe5f1e;
    border-radius: 20px;
    cursor: pointer;
    &:hover, &.active {
      background-color: #fe5f1e;
      color: #fff;
    }
  }
  
}