@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    @media screen and (max-width: 768px) {
      // flex-direction: column;
      align-items: center;
    }

    img {
      margin-right: 15px;
      @media screen and (max-width: 768px) {
        margin: 0 10px 0 0;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
      @media screen and (max-width: 420px) {
        font-size: 14px;
      }
    }

    p {
      color: #7b7b7b;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
