.not-found {
  text-align: center;
  &__title {
    margin-bottom: 20px;
  }
  &__description {
    margin-bottom: 50px;
    font-size: 18px;
  }
  &__link {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color ease-in-out 250ms;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}