.root {
  position: relative;
  width: 400px;
  text-align: center;
  left: -100px
}

.input {
  width: 300px;
  padding: 10px 30px;
  border: 1px solid rgba(204, 204, 204, 0.7);
  border-radius: 15px;
  font-size: 16px;
  transition: all .25s;
  &:focus {
    border: 1px solid rgba(204, 204, 204, 1);
    width: 400px;
  }
}