.root {
  position: relative;
  text-align: center;
  left: -100px;
  .searchIcon {
    position: relative;
    left: 40px;
    top: 7px;
    width: 24px;
    height: 24px;
    fill: rgb(204, 204, 204);
  }
  .searchClose {
    position: relative;
    right: 40px;
    top: 7px;
    width: 24px;
    height: 24px;
    fill: rgb(204, 204, 204);
    cursor: pointer;
    &:hover {
      fill: #000;
    }
  }
  .input {
    width: 400px;
    padding: 10px 50px;
    border: 1px solid rgba(204, 204, 204, 0.7);
    border-radius: 15px;
    font-size: 16px;
    transition: all .25s;
    &:focus {
      border: 1px solid rgba(204, 204, 204, 1);
    }
  }
}


